@tailwind base;

html {
  overflow-y: scroll;
}

:root {
  --scrollBackground: #ffffff;
  --scrollForeground: #9ca3af;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollForeground) var(--scrollBackground);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollBackground);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollForeground);
  border-radius: 14px;
  border: 3px solid var(--scrollBackground);
}

@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
